.calendar-month-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.calendar-month-change-button {
    width:20px;
    height: 20px;
    min-width: 20px;
    max-width: 20px;
    background: #DCDCDC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.calendar-month-change-button:hover {
    background: #B9B9B9;
}

.calendar-month-change-button-image {
    width: 14px;
    height: 14px;
    min-width: 14px;
    max-width: 14px;
    background-color: rgba(0,0,0,0);
}

.calendar-month-text {
    margin: 0;
    color: #333333;
}
.calendar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 0px;
    column-gap: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

.calendar-day {
    width: 100%;
    height: 60px;
    /* border: 1px solid rgba(220, 220, 220, 1); */
    outline: 1px solid rgba(220, 220, 220, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 4px;
    color: #696969;
}

.calendar-day-button {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calendar-day-text {
    color: #B9B9B9;
    background: rgba(0,0,0,0);
}

.calendar-day-text:hover {
    color: #333333;
}

@media (max-width: 600px) {
    .calendar-day {
        height: 50px;
    }
    .calendar-day-text {
        font-size: 12px;
    }
    .calendar-month-change-button {
        width:16px;
        height: 16px;
        min-width: 16px;
        max-width: 16px;
        min-height: 16px;
        max-height: 16px;
        flex-shrink: 0;
    }
    .calendar-month-change-button-image {
        width: 12px;
        height: 12px;
        min-width: 12px;
        max-width: 12px;
        min-height: 12px;
        max-height: 12px;
        flex-shrink: 0;
    }
}
