.asset-profile-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.asset-profile-row-container.right {
    justify-content: flex-end;
}

.asset-profile-row-container.center {
    justify-content: center;
}

.asset-profile-title {
    color: #333333;
    margin: 0;
}

.asset-profile-subtitle {
    font-weight: 500;
    color: #B9B9B9;
    margin: 0;
    text-align: right;
}

.asset-profile-icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.asset-profile-total-asset {
    color: #333333;
    margin: 0;
    text-align: right;
}

.asset-profile-daily-asset-change {
    margin: 0;
    text-align: right;
}

.asset-profile-daily-asset-change.postiive {
    color: #34B199;
}

.asset-profile-daily-asset-change.negative {
    color: #F15E5E;
}


.period-button {
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    font-weight: 500;
}

.period-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.period-button.on {
    color: #fff;
    background: #34B199
}

.period-button.off {
    color: #B9B9B9;
    background: #fff;
}

.period-button.off:hover {
    color: #696969;
}


.asset-basic-info-title {
    color: #B9B9B9;
}

.asset-basic-infos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.asset-basic-info-value {
    color: #333333;
    margin: 0;
}


.asset-change-price-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 100%;
}

.asset-change-price-text-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.asset-change-price-text {
    color: #696969;
    font-weight: 500;
}

.asset-change-price {
    color: #F15E5E;
}

.asset-change-price.high {
    color: #F15E5E;
}

.asset-change-price.low {
    color: #34B199;
}

.asset-profile-spacer-level1 {
    height: 20px;
}

.asset-profile-spacer-level2 {
    height: 30px;
}

.asset-profile-spacer-level3 {
    height: 50px;
}


@media (max-width: 1500px) {
    .asset-profile-spacer-level1 {
        height: 10px;
    }
    .asset-profile-spacer-level2 {
        height: 20px;
    }
    .asset-profile-spacer-level3 {
        height: 20px;
    }
}

@media (max-width: 600px) {
    .asset-profile-spacer-level1.top {
        height: 0px;
    }
}