.stock-page-check-point-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-shadow-box {
    background: #fff;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(220, 220, 220, 1);
}

.stock-page-top-space {
    height: 20px;
}

@media (max-width: 1024px) {
    .stock-page-check-point-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .stock-page-check-point-spacer {
        min-height: 10px;
    }
    .dashboard-shadow-box {
        padding: 15px;
    }
}

@media (max-width: 600px) {
    .stock-page-top-space {
        height: 0px;
    }
    .unit-box.stock-profile {
        border-top: 0px;
        /* padding-top: 0; */
    }
    
}
