.country-selector-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.country-selector-button {
    width: 20%;
    border-bottom: 2px solid #fff;
}

.country-selector-button.on {
    border-bottom: 2px solid #696969;
}

.country-selector-button-text {
    color: #B9B9B9;
    margin: 0;
    margin-bottom: 10px;
}

.country-selector-button-text.off:hover {
    color: #696969;
}

.country-selector-button-text.on {
    color: #696969;
}

