.top-header-container {
    position: sticky;
    top: 0px;
    width: 100vw;
    height: 60px;
    box-shadow: 0px 3px 10px 0px rgba(220, 220, 220, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-header-login-button {
    padding: 7px 14px 7px 14px;
    background: #34B199;
    border: 1px solid #34B199;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
}

.top-header-login-button:hover {
    background: rgba(52,177,153,0.8);
}

.top-header-left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
}

.top-header-right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    column-gap: 10px;
}

.top-header-logo {
    margin-left: 20px;
    height: 35px; 
}

.top-header-nav-menu-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.top-header-circle-button {
    height: 40px;
    width: 40px;
    border-radius: 80px;
    background: #F5F5F4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.top-header-circle-button:hover {
    background: #EFEFEF;
}

.top-header-circle-button-image {
    height: 24px;
    width: 24px;
    min-width: 24px;
    background: rgba(0,0,0,0);
}

@media (max-width: 1024px) {
    .top-header-nav-menu-bar-container {
        display: none;
    }
    .top-header-left-container {
        flex:1;
    }
    .top-header-left-divider {
        flex: 1;
    }
    .top-header-right-container {
        flex: 0;
    }
    .top-header-login-button {
        display: none;
    }
}

@media (max-width: 600px) {
    .top-header-container {
        height: 50px;
        box-shadow: none;
    }
    .top-header-logo {
        height: 30px; 
    }
    .top-header-circle-button {
        background: rgba(255,255,255,0);
    }
    .top-header-circle-button-image {
        width: 26px;
        height: 26px;
        min-width: 26px;
    }
    .top-header-right-container {
        column-gap: 3px;
    }
}