.line-graph-container {
    margin-top: 20px;
    width: 90%;
}

.line-chart {
    margin-top: 20px;
}

.line-chart-canvas {
    flex-shrink: 1;
    height: 250px;
}

@media (max-width: 1500px) {
    .line-chart-canvas {
        height: 200px;
    }
}