.main {
    height: 1500px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.home-page-top-space {
    height: 20px;
}

@media (max-width: 600px) {
    .home-page-top-space {
        height: 0px;
    }
    .unit-box.home-top {
        border-top: none;
    }
}
