.price-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}

.price-row-image {
    width: 40px;
    height: 40px;
}

.price-row-container:hover {
    background: #FBFBFB;
}