.alarm-window {
    width: 400px;
    height: 500px;
    position: absolute;
    top: 55px;
    right: 20px;
    border-radius: 10px;
    border: 1px solid rgba(220, 220, 220, 1);
    box-shadow: 4px 4px 10px 0px rgba(220, 220, 220, 1);
    background: #fff;
    row-gap: 10px;
    padding: 15px 20px 50px 20px;
    overflow-y: scroll;
}

.alarm-row {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DCDCDC;
}

.alarm-date {
    font-size: 14px;
    color: #B9B9B9;
}

.alarm-content {
    font-size: 14px;
    color: #333;
}

.alarm-title {
    margin: 0px;
    color: #333;
}

.alarm-none-notification {
    padding-top: 10px;
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}