.money-ratio-title {
    margin: 0px;
    color: #696969;
    font-weight: 500;
}

.ratio-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.money-ratio-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.money-ratio-suggestion {
    color: #696969;
}

.ratio-bar-title {
    width: 50px;
}

.ratio-bar-frame {
    min-width: 150px;
    height: 25px;
    width: 150px;
    background: #F8F8F8;
    border-radius: 4px;
}

.ratio-bar {
    background: #F3CF6D;
    width: 90px;
    height: 25px;
    border-radius: 4px;
}

.ratio-value {
    margin: 0px;
    font-weight: 500;   
}


.money-ratio-basic-info-title {
    color: #B9B9B9;
}

.money-ratio-basic-infos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.money-ratio-basic-info-value {
    color: #333333;
    margin: 0;
}

@media (max-width:600px) {
    .ratio-bar-title {
        width: 40px;
    }
}