@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
	background: #fff;
}
html {
	font-family: 'Apple SD Gothic Neo', Roboto, 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
	color: #fff;
	background: #fff;
	line-height: 1.2;
	word-wrap: break-word;
}
body {
	background: #fff;
	-webkit-font-smoothing: antialiased;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
div, span, article, section, header, footer, aside, p, ul, li, fieldset, legend, label, a, nav, form {
	box-sizing: border-box;
	/* content-box */
}
ol, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
a {
	display: inline-block;
}
button {
	border: 0;
	background: transparent;
	cursor: pointer;
}

.grid-container {
	padding: 10px;
	background: lightgray;
}
.grid-item {
	padding: 10px;
	border: 3px solid rgb(50,50,40);
	color: white;
	background: #ff6937;
}

.page {
	display: flex;
	flex-direction: column;
	background: #fff;
}

.main-contents {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

h1 {
	font-size: 28px;
	margin: 0;
}

h2 {
	font-size: 24px;
	margin: 0;
}

h3 {
	font-size: 20px;
	margin: 0;
}

h4 {
	font-size: 16px;
	margin: 0;
}

span {
	font-size: 16px;
	margin: 0;
}

.main-center-contents {
	padding-bottom: 100px;
}

.main-right-contents {
	padding-top: 20px;
	width: 450px;
	position: fixed;
	top: 60px;
	right: calc(50vw - 300px - 450px);
	background: rgba(0,0,0,0);
}

.unit-box {
	flex-shrink: 1;
	width: 500px;
	border: 1px solid rgba(245, 245, 244, 1);
	box-shadow: 0px 3px 5px 0px rgba(248, 248, 248, 1);
	padding: 15px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
}

@media (max-width: 1400px) {
	.main-right-contents {
		display: none;
	}
}

@media (max-width: 1024px) {
	h1 {
		font-size: 26px;
	}
	h2 {
		font-size: 22px;
	}
	h3 {
		font-size: 18px;
	}
	span {
		font-size: 16px;
	}
	
}

@media (max-width: 600px) {
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 18px;
	}
	span {
		font-size: 14px;
	}
	.page {
		flex-direction: column;
	}
	.main-center-contents {
		width: 100%;
	}
	.unit-box {
		width: 100%;
		flex-shrink: 1;
		border-right:0px;
		border-left: 0px;
		box-shadow: none;
		border-radius: 0px;
	}
}